@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'vazir';
        font-style: normal;
        font-weight: 400;
        src: url(../../public/fonts/vazir/Vazir.woff2) format('woff2');
    }

    .custom-scrollbar::-webkit-scrollbar {
        @apply !w-1
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        width: 10px 
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply dark:!bg-gray-500 !bg-gray-300 !rounded-lg
    }   
}